<footer>
    <h3>Contact</h3>
    <div class="contact">
        <span>maria.jonasson@medieinstitutet.se</span>
        <a href="https://www.linkedin.com/in/maria-jonasson-a4ba24115/">LinkedIn</a>
        <a href="https://github.com/maria-jon">GitHub</a>
    </div>
</footer>