<header>
    <h1>maria jonasson</h1>
    <div class="icons">
        <a href="mailto:maria.jonasson@medieinstitutet.se"><i class="fa-solid fa-square-envelope"></i></a>
        <a href="https://github.com/maria-jon"><i class="fa fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/maria-jonasson-a4ba24115/"><i class="fa fa-linkedin-square"></i></a>
    </div>
</header>