---
import { render, type CollectionEntry } from "astro:content";
interface Props {
  miniCard: CollectionEntry<"miniCards">;
}

const { miniCard } = Astro.props;
const { Content } = await render(miniCard);
const tags = miniCard.data.tags;
---
<div class="mini-card">
    <h3>{miniCard.data.title}</h3>
    <p><Content /></p>
    <a href={miniCard.data.linkGithub}>View it on GitHub</a> <span>or</span> <a href={miniCard.data.linkLive}>view live version</a>
    <div class="tags">
        {
            tags.map((t) => <span>{t}</span>)
        }
    </div>
</div>