<section class="toolkit">
    <h2>toolkit</h2>
    <h3>Core</h3>
    <span>Semantic HTML, CSS, Flexbox, Grid, JavaScript, TypeScript, Web accessibility, Version control (GitHub)</span>
    <div class="toolkit flex">
        <div>
            <h3>Frameworks</h3>
            <span>Vue, Sass/SCSS, Bootstrap</span>
        </div>
        <div>
            <h3>Build tools</h3>
            <span>Vite, npm, Node.js</span>
        </div>
        <div>
            <h3>APIs</h3>
            <span>MySQL, Express.js</span>
        </div>
        <div>
            <h3>Design</h3>
            <span>Figma, Inkscape, Adobe Creative Cloud</span>
        </div>
    </div>
</section>